CompileFlags:
    Add: [
            # clang warning flags, these flags will be added to the clang command line when clangd analyze the code.
            -std=c23,
            -g3,
            -Wall,
            -Wextra,
            -Werror,
            "-fsanitize=address,undefined",
            -fsanitize-trap,
            # You can also add header include paths here, each prefixed with '-I', one path per line, like this:
            # -I/usr/include
        ]
# for more options, type ctrl + space to bring up the auto-completion list
